body{
    padding: 20px;
    background-image: url('../img/layered-waves-haikei.svg');
    background-size: cover;
    background-repeat: no-repeat;
}
.flex-direction-column{
    flex-direction: column;
}
button{
    height: 38px;
}
.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.form-container input{
    width: 600px;
    margin-right: 10px;
    box-shadow: 10px 0px 80px rgb(114, 114, 114);
}
.video-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
#player{
    border-radius: 10px;    
}

@media only screen and (max-width: 600px) {
    .form-container input {
        width: 400px;
    }
    body{
        background-image: url('../img/responsive.svg');
    }
}