body{
    padding: 10px;
    background-image: url('../img/layered-waves-haikei.svg');
    background-size: cover;
    background-repeat: no-repeat;
}
.flex-direction-column{
    flex-direction: column;
}
button{
    height: 38px;
}
.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.form-container input{
    width: 600px;
    margin-right: 10px;
    
}
.video-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
#player{
    border-radius: 10px;    
}
.player-control{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.player-control #player-control-input{
    width: 90%;
    margin-top: 10px;
    padding: 0;
    margin: 0;
}
.player-control #player-pause-play{
    width: fit-content;
}
#player-pause-play{
    margin-right: 5px;
    display: flex;
    align-items: center;
}
#player-pause-play ion-icon{
    color: white;
    transform: scale(2);
}
.player-control #player-timer{
    width: 5%;
    border: 1px solid red;
}
#player-timer{
    margin-left: 5px;
}
.hidden{
    display: none;
}

#player-control-input{
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .form-container input {
        width: 400px;
    }
    body{
        background-image: url('../img/responsive.svg');
    }
}